@import "tailwindcss";
@plugin "daisyui";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Instrument Sans";
  src: url("/fonts/InstrumentSans-VariableFont_wdth,wght.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-primary-pink: #ffe4e5;
  --color-primary-blue: #1f3db0;
  --color-primary-beige: #fff5e9;
  --color-primary-brown: #401609;

  /*Typografi */
  --font-main: "Instrument Sans";
}

@layer base {
  .font-main {
    font-family: var(--font-main);
  }

  .H1 {
    font-family: var(--font-main);
  }
  h2,
  .H2 {
    font-family: var(--font-main);
  }
  .H3 {
    font-family: var(--font-main);
  }
  .H4 {
    font-family: var(--font-main);
  }
  .H5 {
    font-family: var(--font-main);
  }
  .Pstor {
    font-family: var(--font-main);
  }
  .Brødtekst {
    font-family: var(--font-main);
  }
  .Microcopystor {
    font-family: var(--font-main);
  }
  .Microcopylille {
    font-family: var(--font-main);
  }
  .Formheadings {
    font-family: var(--font-main);
  }

  .H1-mobil {
    font-family: var(--font-main);
  }
  .H2-mobil {
    font-family: var(--font-main);
  }
  .H3-mobil {
    font-family: var(--font-main);
  }
  .H4-mobil {
    font-family: var(--font-main);
  }
  .H5-mobil {
    font-family: var(--font-main);
  }
  .Pstor-mobil {
    font-family: var(--font-main);
  }
  .Brødtekst-mobil {
    font-family: var(--font-main);
  }
  .Microcopystor-mobil {
    font-family: var(--font-main);
  }
  .Microcopylille-mobil {
    font-family: var(--font-main);
  }
  .Formheadings-mobil {
    font-family: var(--font-main);
  }

  /* Farver */

  .color-primary-pink {
    color: var(--color-primary-pink);
  }
  .color-primary-blue {
    color: var(--color-primary-blue);
  }
  .color-primary-beige {
    color: var(--color-primary-beige);
  }
  .color-primary-brown {
    color: var(--color-primary-brown);
  }
}

@layer components {
}

@layer utilities {
}
