---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Navbar from "../components/Navbar.astro";
---

<MainLayout>
  <main class="bg-[var(--color-primary-beige)]">
    <Heading htmlheading="h1" size="h1"> GIRL TALK </Heading>
    <Heading htmlheading="h1" size="h2"> TEST H1 </Heading>
    <Heading htmlheading="h1" size="h3"> TEST H1 </Heading>
    <Heading htmlheading="h1" size="h4"> TEST H1 </Heading>
    <Heading htmlheading="h1" size="h5"> TEST H1 </Heading>
    <Heading htmlheading="h1" size="pstor"> TEST H1 </Heading>
    <Heading htmlheading="h1" size="microcopystor"> TEST H1 </Heading>
    <Heading htmlheading="h1" size="microcopylille"> TEST H1 </Heading>
    <Heading htmlheading="h1" size="formheadings"> TEST H1 </Heading>
  </main>
</MainLayout>
