---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Forside_card1 from "../components/Forside_card1.astro";
---

<MainLayout title="Titel">
  <main class="bg-[var(--color-primary-beige)]">
    <section class="relative">
      <!-- GIRL -->
      <Heading size="h1" stylingclasses="pl-4 text-primary-brown md:pl-15"> GIRL</Heading>
      <!-- STJERNE -->
      <img src="/stjerne_forside.svg" alt="" class="absolute top-0 left-60 w-32 md:w-100 md:left-180" />
      <!-- TALK (lodret) -->
      <Heading size="h1" stylingclasses="absolute rotate-90 text-primary-brown left-90 top-20 md:top-69 md:left-210"> TALK </Heading>
      <!-- h2 -->
      <div class="md:grid md:grid-cols-2">
        <div class="md:pl-10">
          <Heading size="h2" stylingclasses="text-primary-brown pt-15 pl-4 pr-8 max-w-100 md:max-w-200">VIL DU VÆRE MED TIL AT HJÆLPE ANDRE, ELLER HAR DU SELV BRUG FOR HJÆLP?</Heading>
          <!-- Knapper -->
          <div class="grid grid-cols-2 gap-4 mt-8">
            <Button href="/kontakt" stylingclasses="mt-8">BLIV FRIVILLIG</Button>
            <Button href="/kontakt" stylingclasses="mt-8">KONTAKT OS HER</Button>
          </div>
        </div>
        <div>
          <!-- billede 1 -->
          <img src="/forside_1.png" alt="" class="w-90 p-4 ml-37 md:w-100" />
        </div>
      </div>
      <!-- Tekst -->
      <div class="md:grid md:grid-cols-2">
        <div class="order-1 md:order-2">
          <div class="p-4 md:pt-40">
            <Heading size="h2" stylingclasses="pb-4">ER DU KLAR TIL AT LYTTE, NÅR EN PIGE HAR BRUG FOR DET?</Heading>
            <Heading size="pstor">Bliv frivillig i GirlTalk og gør en reel forskel for piger, der har brug for nogen til at lytte. Vi kæmper for unges trivsel og for, at ingen skal stå alene med det svære. Som frivillig bliver du en del af et stærkt fællesskab, udvikler dig fagligt og oplever, hvor meget det betyder at være der for andre. </Heading>
          </div>
          <!-- Knap -->
          <Button href="/kontakt" stylingclasses="mt-8">MØD GIRLTALK</Button>
        </div>
        <!-- billede 2 -->
        <div>
          <img src="/forside_2.png" alt="" class="p-10" />
        </div>
      </div>
      <!-- quotes -->
      <div class="p-4 space-y-20">
        <div class="max-w-85">
          <img src="/forside_quote.svg" alt="" class="w-15 md:w-40" />
          <Heading size="pstor">At være frivillig i GirlTalk har givet mig et fællesskab, jeg ikke vidste, jeg manglede</Heading>
        </div>
        <div class="ml-auto max-w-85 text-right">
          <Heading size="pstor">Det bedste er at mærke, at jeg faktisk gør en forskel for nogen</Heading>
          <img src="/forside_quote.svg" alt="" class="rotate-180 w-15 md:w-40" />
        </div>
      </div>
    </section>
    <!-- cards -->
    <section class="grid md:grid-cols-2 border border-brown-900">
      <Forside_card1 title="Har din datter brug for et trygt fællesskab?" text="I GirlTalks fællesskaber mødes piger og deler tanker, tvivl og usikkerheder, og sammen finder de modet til at åbne op. Vi starter nye fællesskaber for 13-16 årige piger, i efteråret. Her får din datter et trygt rum, hvor hun kan spejle sig i andre og opleve, at hun ikke er alene." linkText="Læs mere om kampagnen" href="/kampagne" variant="arrow" />

      <Forside_card1 title="Stærkere vokse, stærkere unge" text="Du skal ikke være perfekt, for at gøre en forskel. Med podcast, foredrag og rådgivning støtter vi dig, der har en ung i dit liv og gerne vil være der, også når det er svært." linkText="Find os på Spotify" href="https://open.spotify.com/" variant="spotify" />
    </section>
  </main>
</MainLayout>
